p {
    color: rgb(73, 73, 73);
    text-align: justify;
    font-weight:bold;
    font-size: 1.2em;
   line-height: 25px;
  }
  
  h1{
    padding: 10px;
    text-align:center;
    font-size: 2.0em;
  }
  
  body {
    
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#ffffff;
  
        /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
    
  }
  
  #main_picture{
    width: 100%;
    height: 100%;
  }
  .block{
    
    height: 68px;
  }
  
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }
  .intro{
    background-image: url("../img/002_INTRO.png");
    background-size: contain;
    padding: 40px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  
  
  #logo_picture{
    width: 200px;
    height: 200px;
  }
  #nav_logo{
    width: 35px;
    height: 35px;
    padding-top: 0px;
    padding-bottom: 5px;
  }
  /**navbar**/
  /* Create a sticky/fixed navbar */
  #navbar {
    background-image:url("../img/01.png");
    background-size:110px 80px;
    background-repeat: no-repeat;
    background-position:center right;
  
    border-bottom: solid;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px 10px; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo */
  #navbar #logo {
    float: none;
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  /* Links on mouse-over */
  #navbar #navbar-right a:hover {
    color: rgb(114, 83, 53);
  }
  
  
  
  /* Display some links to the right */
  #navbar-right {
    font-weight: bold;
    float: right;
  }
  
  /* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
  @media screen and (max-width: 580px) {
  
  /**mystuff**/
  p {
    font-size: 1.0em;
   }
  
    #navbar {
      padding: 10px 5px ; /*   Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      
      text-align: right;
      font-size: 15px;
    }
    #navbar-right {
      float: right;
    }
  }
    /*sidenav*/
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.4s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.4s;
    }
    
    .sidenav a:hover {
      color: #f1f1f1;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }
    
    #main {
      transition: margin-left .4s;
  
      
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
  
  
  
    /*profolio*/
    /*!
   * Start Bootstrap - Agency v3.3.7+1 (http://startbootstrap.com/template-overviews/agency)
   * Copyright 2013-2016 Start Bootstrap
   * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
   */
  
  
  
  
  .bg-light-gray {
    background-color: #eeeeee;
  }
  .bg-darkest-gray {
    background-color: #222222;
  }
  .btn-primary {
    color: white;
    background-color: #fed136;
    border-color: #fed136;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary:active,
  .btn-primary.active,
  .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: #fec503;
    border-color: #f6bf01;
  }
  section {
    padding: 100px 0;
  }
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }
  
  
  #portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
  }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 200px;
    margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(14, 12, 7, 0.637);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px;
  }
  #portfolio .portfolio-item .portfolio-caption h4 {
    
    text-transform: none;
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption p {
    text-align: center;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
  }
  #portfolio * {
    z-index: 2;
  }
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  
  
  section {
    padding: 100px 0;
  }
  section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
  }
  @media (min-width: 768px) {
    section {
      padding: 150px 0;
    }
  }
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }
  #portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
  }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: white;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding: 25px;
  }
  #portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
  }
  #portfolio * {
    z-index: 2;
  }
  @media (min-width: 767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  
  /*.products*/
  #portfolio .portfolio-item .product-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(206, 206, 206);
    text-align: center;
    padding: 25px;
  }
  
  #portfolio .portfolio-item .product-caption h4 {
    text-transform: none;
    margin: 0;
  }
  #portfolio .portfolio-item .product-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
  }